body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black; /*black background*/
    color: white; /*white text*/
}

/*navbar*/
.navbar {
    width: 100%;
    background: black; /*make navbar black*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid #444;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: #c72026; /*red*/
    margin: 0;
    font-family: Georgia, serif;
}

.logo span {
    color: white; /*white inside the logo*/
    font-size: 36px;
}

.tagline {
    color: white;
}

.nav-right a {
    margin-right: 35px;
    text-decoration: none;
    color: white; /*white nav links*/
    font-size: 14px;
    font-weight: 500;
}

.nav-right a:hover {
    color: #c72026; /*red on hover*/
}

/*headers and titles*/
.menu-title,
.sides-title {
    font-size: 40px;
    font-weight: bold;
    color: white; /*white titles*/
    margin: 20px 0;
    font-family: Georgia, serif;
}

/*category labels, keep red*/
.category-label {
    color: red;
    font-size: 24px;
    font-weight: bold;
    font-family: Georgia, serif;
}

/*tables*/
.table {
    color: white; /*table text white*/
    background-color: black;
}

.table th, .table td {
    border-color: white; /*white table lines*/
}

/*images*/
.menu.image {
  max-width: 150px;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


