body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    border-bottom: 1px solid #eee;
}

.nav-left {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: #c72026;
    margin: 0;
    font-family: Georgia, serif;
}

.logo span {
    color: black;
    font-size: 36px;
}

.tagline {
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 4px;
}

.nav-right a {
    margin-right: 55px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.nav-right a:hover {
    color: #c72026;
}

.banner {
    margin: 0;
    padding: 0;
    width: 100%;
}

.banner img {
    display: block;
    width: 100%;
    height: auto; 

.menu-section {
    padding: 40px;
    text-align: center;
}

.menu-title {
    font-size: 32px;
    margin-bottom: 40px;
    font-family: Georgia, serif;
    font-weight: bold;
}

.menu-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.menu-item {
    width: 260px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #eee;
}

.menu-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.menu-item h3 {
    color: #c72026;
    font-family: Georgia, serif;
    margin: 15px 0;
}

.menu-item p {
    font-size: 14px;
    line-height: 1.6;
}

