body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid #eee;
}

.nav-left {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: #c72026;
    margin: 0;
    font-family: Georgia, serif;
}

.logo span {
    color: black;
    font-size: 36px;
}

.tagline {
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 4px;
}

.nav-right a {
    margin-right: 35px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.nav-right a:hover {
    color: #c72026;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    box-sizing: border-box;
}

.banner img {
    display: block;
    width: 100%;
    height: auto; 
    max-width: 100%;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #ffffff;
    border-bottom: 2px solid #ddd;
}

.logo {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.logo span {
    color: red;
}

.tagline {
    margin-top: -5px;
    font-size: 14px;
    letter-spacing: 1px;
}

.nav-right a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.nav-right a:hover,
.nav-right .active {
    color: red;
}

/* TITLES */
.menu-title,
.sides-title {
    text-align: center;
    font-size: 48px;
    margin-top: 30px;
    font-weight: 700;
    color: #cc0000;
}

/* TABLES */
.menu-section {
    margin-top: 40px;
}

.menu-table img {
    width: 210px;
    height: 210px;
    object-fit: cover;
    border-radius: 10px;
}

.category {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #cc0000;
    padding-bottom: 15px;
}

.table td {
    font-size: 18px;
    padding: 8px;
}


.catering-title {
    font-size: 40px;
    font-weight: bold;
    color: #c72026;
    margin: 0;
    font-family: Georgia, serif;
}






