.navbar-brand img {
  margin-left: 27px; 
  margin-right: 240px; 
  height: 70px;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.navbar-nav {
  padding-right: 20px;
  text-align: right;
}
