.navbar-brand img {
  margin-left: 30px; 
  margin-right: 15px; 
  height: 92px;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.navbar-nav {
  padding-right: 30px;
  text-align: right;
}

.navbar-nav .nav-item {
  margin-left: 15px;
}

.full-width-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
  margin: 0;
