.navbar-brand img {
  margin-left: 27px; 
  margin-right: 15px; 
  height: 85px;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.navbar-nav {
  padding-right: 40px;
  text-align: right;
}
