.navbar-brand img {
  margin-left: 20px;
  height: 70px;
  width: auto; 
  object-fit: cover;
  object-position: center;
}

.navbar-nav {
  text-align: right;
  padding-right: 20px;
  word-spacing: 6px;
}
