.navbar-brand img {
  margin-left: 30px; 
  margin-right: 15px; 
  height: 92px;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.navbar-nav {
  padding-right: 30px;
  text-align: right;
}

.navbar-nav .nav-item {
  margin-left: 15px;
}

body {
  background-image: url("https://lh3.ggpht.com/p/AF1QipPnvW3flE8BHRDYVC6rWJBhAfu0nWKc3VhBxEhy=s1024");
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;     
}
