.navbar-brand img {
  margin-left: 30px; 
  margin-right: 15px; 
  height: 92px;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.navbar-nav {
  padding-right: 30px;
  text-align: right;
}

.navbar-nav .nav-item{
  margin-left: 15px;
}

.image-container{
  max-width: 100%; 
  margin-left: auto;
  margin-right: auto;
}

.image-container img{
  width: 100%; 
  height: auto;
}
