.navbar-brand img {
  margin-left: 2px; 
  margin-right: 30px; 
  height: 85px;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.navbar-nav {
  padding-right: 20px;
  text-align: right;
}

.navbar-nav .nav-item{
  margin-left: 10px;
}
